# Python Crash Course Exercises

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

s = "Hi there Sam!"
 **into a list. **

In [3]:
s = "Hi there Abhi!"
s.split()

['Hi', 'there', 'Abhi!']

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [2]:
print("The diameter of {} is {} kilometers.".format("Earth",12742))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [3]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [11]:
def domain_name(email_id):
    return email_id.split('@')[1]

In [12]:
print(domain_name("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [5]:
def func_dog(my_str):
    return 'dog' in my_str

In [6]:
func_dog("Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word , but do account for capitalization.")

True

#### Factorial Challenge

In [2]:
# Based on above two example codes and considering recursive method of coding, lets implement the solution.

def factorial(n):
    # Check the type of the input 'n'
    if type(n) == int:
        if n == 1 or n == 0:
            return 1
        elif n < 0 :
            return -1
        else:
            return n * factorial(n-1)
    return None

In [3]:

factorial(10)

3628800

Given two integer variables a and b, and a boolean variable flag. The task is to check the status and return accordingly.
Return True for the following cases:

Either a or b (not both) is non-negative and the flag is false.
Both a and b are negative and the flag is true.
Otherwise, return false.

In [9]:
def check_status(a,b,flag):
    if a < 0 and b < 0 and flag:
        return False
    elif a < 0 or b < 0 and not flag:
        return True
    else:
        return False

In [11]:
check_status(1,-1,False)

True

In [12]:
check_status(1,-1,True)

False

In [1]:
def check_max(a,b):
    if a < b:
        return b
    return a

In [3]:
check_max(3,4)

4

In [4]:
check_max(4,3)

4

Reverse the words in the given string program

In [2]:
# Python code
# To reverse words in a given string

# input string
string = "I am a good person"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
	# appending reversed words to l
	l.append(i)
# printing reverse words
print(" ".join(l))

person good a am I

Sorting Dictionary By Key Using sort()

In [7]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

myKeys = list(d.keys())
myKeys.sort()

# Sorted Dictionary
sd = {i: d[i] for i in myKeys}
print(sd)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

In [10]:
print(myKeys)
sd

['rajnish', 'ravi', 'sanjeev']

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

In [1]:
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
print(max(sets))

65

In [2]:
print(min(sets))

1

Check if two lists have at-least one element common

In [1]:
# Python program to check 
# if two lists have at-least 
# one element common
# using set and property

def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	if (a_set & b_set):
		return True
	else:
		return False
		

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

Given a string consisting of lowercase letters, arrange all its letters in ascending order.

Input:
S = "edcab"
Output: "abcde"
Explanation: characters are in ascending
order in "abcde".

In [1]:
S = "edcab"

In [5]:
a = []
for c in S:
    a.append(c)

In [6]:
a

['e', 'd', 'c', 'a', 'b']

In [7]:
a.sort()

In [8]:
a

['a', 'b', 'c', 'd', 'e']

In [11]:
result = ''
for c in a:
    result += c

In [12]:
result

'abcde'

Given a list, write a Python program to swap the first and last element of the list using Python

In [1]:
# Initialize a list
my_list = [1, 2, 3, 4, 5]

# Interchange first and last elements
my_list[0], my_list[-1] = my_list[-1], my_list[0]

# Print the modified list
print("List after swapping first and last elements:", my_list)

List after swapping first and last elements: [5, 2, 3, 4, 1]

Given a String, perform uppercase of the later part of the string.

Input : test_str = 'geeksforgeek' 
Output : geeksfORGEEK 
Explanation : Latter half of string is uppercased.

In [13]:
test_str = 'geeksforgeek'


first_half = test_str[:int((len(test_str))/2)]
second_half = test_str[int((len(test_str))/2):]
print(first_half)
print(second_half)
print(first_half + second_half.upper())

geeksf
orgeek
geeksfORGEEK